@import "mixin/mixin";

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?v5hufc');
    src:url('fonts/icomoon.eot?#iefixv5hufc') format('embedded-opentype'),
        url('fonts/icomoon.ttf?v5hufc') format('truetype'),
        url('fonts/icomoon.woff?v5hufc') format('woff'),
        url('fonts/icomoon.svg?v5hufc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class="nav-btn"]{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$toolBarWidth: 52px;

@mixin rect($toolBarWidth:52px) {
    display: inline-block;
    width: $toolBarWidth;
    height: $toolBarWidth;
}

.top-back {
    position: fixed;
    left: 50%;
    bottom: 15px;
    width: $toolBarWidth;
    margin-left: -($toolBarWidth / 2);

    @at-root .nav-item {
        position: relative;
        left: 0;
        top: 0;
        @include rect();
         
        & .nav-btn{
            @include rect();
            overflow: hidden;
            position: relative;
            left: 0;
            top: 0;
            &:before, &:after {
                @include rect();
                position: absolute;
                left: 0;
                color: #ffffff;
                text-align: center;
                @include transition(top 0.5s);
            }
            &:before {
                top: 0;
                background-color: #d0d6d9;
                line-height: $toolBarWidth;
                font-size: 28px;
            };
            &:after {
                top: $toolBarWidth;
                padding-top: 4px;
                background-color: #98a1a6;
                font-size: 16px;
                line-height: 1.2;
            };
        };
        &:nth-child(1), &:nth-child(3) {
            &:after {
                content: "";
                display: inline-block;
                width: 172px;
                height: 200px;
                position: absolute;
                right: $toolBarWidth - 5;
                bottom: 0;
                background: url('../img/toolbar_img.png') no-repeat;
                @include opacity(0);
                @include transform(scale(0.01));
                @include transform-origin(right bottom);
                @include transition(all 0.5s);
            };
            &:hover {
                &:after {
                    @include opacity(1);
                    @include transform(scale(1));
                };
            };
        };
        
        &:nth-child(1) {
            .nav-btn {
                &:before {
                    content: "\e600";
                };
                &:after {
                    content: "意见\A反馈";
                };
            }
            &:after {
                background-position: 0 0;
            };
        }

        &:nth-child(2) .nav-btn {
            &:before {
                content: "\e601";
            };
            &:after {
                content: "APP\A下载";
            };
        };

        &:nth-child(3) {
            .nav-btn {
                &:before {
                    content: "\e602";
                };

                &:after {
                    content: "联系\A方式";
                };
            };
            &:after {
                background-position: 0 -212px;
            };
        } 
        &:nth-child(4) .nav-btn {
            &:before {
                content: "\e603";
            };

            &:after {
                content: "微信\A聊天";
            };
        };

        &:hover .nav-btn{
            &:before {
                top: -$toolBarWidth;
            };
            &:after {
                top: 0;
            };
        };
    }   
}
